altgraph==0.17
auto-py-to-exe==2.7.5
bottle==0.12.18
bottle-websocket==0.2.9
cffi==1.14.0
Eel==0.12.4
fbs==0.8.7
future==0.18.2
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
macholib==1.14
pefile==2019.4.18
pycparser==2.20
PyInstaller==3.4
PyQt5==5.15.0
PyQt5-sip==12.8.0
PyQt5-stubs==5.14.2.2
pywin32-ctypes==0.2.0
whichcraft==0.6.1
zope.event==4.4
zope.interface==5.1.0
